/Datasets
/machine-learning-zoomcamp
/Notebook Files

/Data-Engineering/week-1/yellow_cab_trip_data_jan_2021.csv
/Data-Engineering/week-1/ny_taxi_postgres_data
/Data-Engineering/week-1/config
/Data-Engineering/week-1/gcp key

/Zindi-Competitions/Hydropower Climate Optimisation/Climate Data
/Zindi-Competitions/Hydropower Climate Optimisation/Data

/Zindi-Competitions/amini soil prediction challenge/dataset
/Zindi-Competitions/amini soil prediction challenge/kaggle.json

/Data-Engineering/week-2/data_pgadmin
/Data-Engineering/week-2/ny_taxi_postgres_data
/Data-Engineering/week-2/flows

/Data-Engineering/week-4/dbt_key
/Data-Engineering/data-engineering-zoomcamp
/Data-Engineering/de-zoomcamp-project-main
/Data-Engineering/data_engineering_zoom_camp-main
/Data-Engineering/week-4/dbt
/Data-Engineering/week-4/dbt_0.38.33_linux_amd64.tar.gz

/Data-Engineering/project/postgres_data
/Data-Engineering/project/gcs_keys
/Data-Engineering/project/processed_data
/Data-Engineering/project/weather_data
/Data-Engineering/project/weather_api.txt
Zindi-Competitions/amini soil prediction challenge/notebooks/outlier-detection-methods.ipynb
